<launch>
  <node name="separator_marker_detector_node" pkg="separator_marker_detector" type="separator_marker_detector" output="screen">
    <remap from="~/image_in" to="refills_wrist_camera/image_raw"/>
    <!--param name="image_transport" value="compressed"/>
    <remap from="~/image_in/compressed" to="refills_wrist_camera/image_color/compressed"/-->

  </node>
</launch>


